.back-image{
    background-position: center;
    background-size: fill;
    background-repeat: no-repeat;

}
.reg.cus{
    height: 440px;
}
.home_index{
    position: absolute;
    left: 0;
    right: 0;
}

@media only screen and (max-width: 600px) {
    .home_text {
        padding-top: 200px;
        display: block;
    }
}

@media only screen and (min-width: 768px) {
}

@media only screen and (min-width: 992px) {
    .reg.cus{
        height: 575px;
    }
}

@media only screen and (min-width: 1200px) {
}

@media only screen and (min-width: 1400px) {
    .home_text {
        padding-top: 150px;
        display: inline-block;
        vertical-align: middle;
    }
}
